html, body {
	font-family: arial;
}
body{
	display: flex;
	height: 100%;
	flex-direction: column;

}
.wrapper{
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
}
.header{
	background-color: red;
	border-radius: 0 0 15px 15px;
	padding: 10px;
}
.content{
	display: flex;
	flex-direction: column;
	background-color: blue;
	margin: 5px 20px 10px 20px;
	border-radius: 15px;
	padding: 10px;

}
.title{
	font-size: 30px;
}
#text{
	text-align: justify;
}
.button{
	align-self: flex-start;
	font-size: 20px;
	margin: 100px 0px;
	background-color: #f444f4;
	padding: 5px;
	border-top-left-radius: 15px  7px;
	border-top-right-radius: 15px 7px;
	border-bottom-right-radius: 15px 7px;
	border-bottom-left-radius: 15px 7px;

}
.novigation{
	display: flex;
	justify-content: space-between;
}
.buttonNov{
	display: flex;
	width: 52px;
	height: 52px;
	border-radius: 26px;
	background-color: grey;
	margin: 30px;
}

.arrow{
  width: 0px;
  height: 0px;
  border: 20px solid transparent;
  border-top-color: white;
  margin: 6px 13px;
  padding: 0;
  float: left;
}

.arrow:before{
  content:'';
  width: 0px;
  height: 0px;
  border: 20px solid transparent;
  border-top-color: grey;
  display: inline-block;
  -webkit-transform: translate(-20px, -30px);
}

.arrow.left{
  transform: rotate(90deg) translate(0px, 22px);
  -webkit-transform: rotate(90deg) translate(0px, 22px);
  -moz-transform: rotate(90deg) translate(0px, 22px);
  -o-transform: rotate(90deg) translate(0px, 22px);
  -ms-transform: rotate(90deg) translate(0px, 22px);
}
.arrow.right{
  transform: rotate(270deg) translate(0px, 8px);
  -webkit-transform: rotate(270deg) translate(0px, 8px);
  -moz-transform: rotate(270deg) translate(0px, 8px);
  -o-transform: rotate(270deg) translate(0px, 8px);
  -ms-transform: rotate(270deg) translate(0px, 8px);
}
.footer{
	flex: 0 0 auto;
	height: 20px;
	background-color: yellow;
	border-radius: 15px 15px 0 0;
	padding: 10px;

}